<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <div>
    <h2>add queries</h2>
    <form action="/queries/add/" method="post">
      <label for="query">enter query</label><input type="text" name="query"></input>
      <input type="submit" value="submit"></input>
    </form>
  </div>
</body>
</html>
